node_modules/
.env
uploads/*
!uploads/.gitkeep
*.log
dist/
coverage/
.DS_Store
*.token
admin.token
user.token
bulk.json
bulk2.json
coupon.json
des.json
login.json
loginuser.json
otp.json
otp2.json
pay.json
prod.json
prod2.json
ref.json
reg.json
set.json
sotp.json
val.json
server.err
